{% extends "layouts/main.html.twig" %}

{% block content %}
    <div class="container">
        {% if _get.message is defined %}
            <div class="alert alert-success">
                {{ _get.message }}
            </div>
        {% endif %}
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-12">
                        {% if getParams.message is not empty %}
                            <div class="alert alert-success">
                                {{ getParams.message }}
                            </div>
                        {% endif %}
                        <div class="form-group">
                            <form action="/" method="get">
                                <label for="category-list">Фильтр по категории</label>
                                <select class="selectpicker" id="category-list" name="category_id" required>
                                    <option value="" selected disabled="disabled">выберите категорию поста</option>
                                    {% for category in categories %}
                                        <option value="{{ category.id }}" {% if _get.category_id == category.id %} selected {% endif %}>{{ category.name }}</option>
                                    {% endfor %}
                                </select>
                                <button class="btn btn-primary btn-large"><span><i class="fa fa-search"></i> поиск</span></button>
                                <a href="/" class="btn btn-success btn-large"><span><i class="fa fa-window-restore"></i> сброс</span></a>
                            </form>
                        </div>
                        {% if _session.auth %}
                        <div class="form-group">
                            <a class="btn btn-primary btn-large" href="/posts/add"><span><i class="fa fa-plus"></i> добавить новый пост</span></a>
                        </div>
                        {% endif %}

                    </div>
                    {% include "blocks/news.html.twig" %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}