{% extends "layouts/main.html.twig" %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="panel panel-default">
                    <div class="panel-heading">{{ post.name }}</div>
                    <div class="panel-body">
                        <div class="col-md-12">
                            <div class="jumbotron">
                                <h2>{{ post.name }}</h2>
                                <p>{{ post.description }}</p>
                                {{  post.content | raw }}
                                <p>
                                    <a class="btn {% if _session.user_id is empty %} disabled {% else %} btn-primary btn-large {% endif %}" href="#">
                                        <span><i class="fa fa-heart-o"></i> нравится 1</span>
                                    </a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}